* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0f0f0f;
    color: #ffffff;
    line-height: 1.6;
}

/* NAVIGATION */
header {
    background: #111;
    padding: 20px 10%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #00ffcc;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1a1a1a, #000000);
    text-align: center;
    padding: 0 20px;
}

.hero h2 {
    font-size: 3rem;
}

.hero p {
    margin: 20px 0;
    font-size: 1.2rem;
}

.btn {
    padding: 10px 20px;
    background: #00ffcc;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #00ccaa;
}

/* SECTIONS */
.section {
    padding: 100px 10%;
    margin-top: 60px;
}

.section h2 {
    margin-bottom: 30px;
    font-size: 2rem;
}

/* SKILLS */
.skills span {
    display: inline-block;
    background: #222;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 20px;
}

/* PROJECTS */
.dark {
    background: #1a1a1a;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.project-card {
    background: #1c1c1c;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.4s;
}

.project-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.project-content {
    padding: 20px;
}

.project-content p {
    color: #ccc;
    margin: 10px 0;
}

.project-btn {
    display: inline-block;
    padding: 8px 15px;
    background: #00ffcc;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.project-btn:hover {
    background: #00ccaa;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 255, 204, 0.2);
}

/* BADGE */
.badge {
    background: #00ffcc;
    color: #000;
    display: inline-block;
    padding: 4px 10px;
    font-size: 0.8rem;
    border-radius: 20px;
    margin-bottom: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
}

/* SCROLL ANIMATION */
.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}
